<template>
  <div class="component-editor-panel">
    <div class="component-editor-input-block">
      <div class="component-block-section-header">
        <span>Padding properties</span>
      </div>
      <div class="property">
        <label for="padding-top">Top </label>
        <input
          type="number"
          id="padding-top"
          name="padding-top"
          :value="localBlock.element.styleProperties.padding.top"
          v-on:input="valueChangePadding"
        />
      </div>
      <div class="property">
        <label for="padding-right">Right </label>
        <input
          type="number"
          id="padding-right"
          name="padding-right"
          :value="localBlock.element.styleProperties.padding.right"
          v-on:input="valueChangePadding"
        />
      </div>
      <div class="property">
        <label for="padding-bottom">Bottom </label>
        <input
          type="number"
          id="padding-bottom"
          name="padding-bottom"
          :value="localBlock.element.styleProperties.padding.bottom"
          v-on:input="valueChangePadding"
        />
      </div>
      <div class="property">
        <label for="padding-left">Left </label>
        <input
          type="number"
          id="padding-left"
          name="padding-left"
          :value="localBlock.element.styleProperties.padding.left"
          v-on:input="valueChangePadding"
        />
      </div>
    </div>
    <div class="component-editor-input-block">
      <div class="component-block-section-header">
        <span>Background properties</span>
      </div>
      <div class="property">
        <label for="background-color">Background </label>
        <input
          type="color"
          id="background-color"
          name="background-color"
          :value="localBlock.element.styleProperties['background-color']"
          v-on:input="valueChange"
        />
      </div>
    </div>
    <div class="component-editor-input-block">
      <div class="component-block-section-header">
        <span>Size Properties</span>
      </div>
      <div class="property">
        <label for="width">Width </label>
        <input
          type="number"
          id="width"
          :value="localBlock.element.styleProperties['width']"
          v-on:input="valueChange"
          name="width"
        />
      </div>
      <div class="property">
        <label for="height">Height </label>
        <input
          type="number"
          id="height"
          :value="localBlock.element.styleProperties['height']"
          v-on:input="valueChange"
          name="height"
        />
      </div>
    </div>
    <div class="component-editor-input-block block-tool">
      <div class="component-block-section-header">
        <span>Actions</span>
      </div>
      <div>
        <input type="button" value="Save and Close" @click="closeEditPopup" />
      </div>
      <div>
        <input type="button" value="Move UP" @click="moveBlockUp" />
      </div>
      <div>
        <input type="button" value="Move DOWN" @click="moveBlockDown" />
      </div>
      <div>
        <input type="button" value="Remove" @click="removeBlock" />
      </div>
    </div>
  </div>
</template>



<script>
export default {
  name: "EditorBlockDivider",
  emit: [
    "move-block-up",
    "move-block-down",
    "remove-block",
    "close-without-save",
    "apply-changes",
  ],
  props: ["currentBlock"],
  data() {
    return {
      localBlock: {},
    };
  },
  methods: {
    closeEditPopup() {
      this.$emit("close-without-save");
    },
    moveBlockUp() {
      this.$emit("move-block-up");
    },
    moveBlockDown() {
      this.$emit("move-block-down");
    },
    removeBlock() {
      this.$emit("remove-block");
    },
    valueChange(e) {
      const propName = e.target.id;
      const value = e.target.value;
      this.localBlock.element.styleProperties[propName] = value;
      this.$emit("apply-changes", this.localBlock);
    },
    valueChangePadding(e) {
      const propsArr = e.target.id.split("-");
      const prop = propsArr[0];
      const direction = propsArr[1];
      const value = e.target.value;
      this.localBlock.element.styleProperties[prop][direction] = value;
      this.$emit("apply-changes", this.localBlock);
    },
  },
  beforeMount() {
    this.localBlock = this.currentBlock;
  },
};
</script>

<style scoped>
.component-editor-panel {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 30vh;
  bottom: 0;
  background: rgba(0, 0, 0, 0.461);
  padding: 12px;
  box-sizing: border-box;
  overflow: auto;
}

.component-editor-input-block {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}

.component-editor-input-block div {
  text-align: end;
}

input[type="number"],
input[type="color"],
input[type="text"],
textarea,
select {
  width: 90px;
  padding: 2px 4px 2px 4px;
  background: rgba(0, 0, 0, 0.3);
  border: 0;
  color: #fff;
  margin: 6px 0;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

textarea {
  width: 250px;
}

input[type="number"]:active,
input[type="color"]:active,
select:active,
input[type="text"]:active,
textarea:active,
input[type="number"]:focus,
input[type="color"]:focus,
select:focus,
input[type="text"]:focus,
textarea:focus {
  border: 1px solid black;
  outline: none;
}

label {
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.component-block-section-header {
  color: #fff;
  text-align: center !important;
  font-size: 20px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

input[type="button"] {
  display: block;
  padding: 8px;
  color: #fff;
  background: #ad5389;
  background: -webkit-linear-gradient(to right, #3c1053, #ad5389);
  background: linear-gradient(to right, #3c1053, #ad5389);
  width: 120px;
  border-radius: 15px;
  font-size: 15px;
  border: none;
  box-sizing: border-box;
  margin: 5px auto;
  transition: all 0.1s;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.block-tool div:last-child input[type="button"] {
  background: #c31432;
  background: -webkit-linear-gradient(to right, #240b36, #c31432);
  background: linear-gradient(to right, #240b36, #c31432);
}

.block-tool div:nth-child(2) input[type="button"] {
  background: #dce35b;
  background: -webkit-linear-gradient(to right, #45b649, #dce35b);
  background: linear-gradient(to right, #45b649, #dce35b);
}

input[type="button"]:hover {
  opacity: 1;
  cursor: pointer;
  transform: scale(1.1);
}

input[type="button"]:active {
  outline: none;
  border: none;
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}

input[type="button"]:focus {
  outline: none;
  border: none;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(172, 172, 172);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #4b4b4ba3;
  border-radius: 10px;
}
</style>