<template>
  <div class="new-email-popup">
    <h1>NEW EMAIL</h1>
    <div class="container">
      <label for="email-name">Email name</label>
      <input
        class="email-name"
        id="email-name"
        v-model="emailName"
        type="text"
        placeholder="Email name"
      />
    </div>
    <div class="container">
      <label for="email-description">Email description</label>
      <input
        class="email-description"
        id="email-description"
        v-model="emailDescription"
        type="text"
        placeholder="Email description"
      />
    </div>
    <div class="container container-action-block">
      <input type="button" @click="createEmail" value="Create" />|
      <input type="button" @click="cancelCreation" value="Cancel" />
    </div>
  </div>
</template>
<script>
import RequestUrl from "@/configStore/API.json";
import { mapGetters } from "vuex";

export default {
  name: "LibraryNewPopup",
  emit: ["create-new-email", "show-popup-email"],
  data() {
    return {
      emailName: "",
      emailDescription: "",
      id: "5fb1dacd41fbvcdhgf1cas12",
    };
  },
  methods: {
    createEmail() {
      const that = this;
      fetch(`${RequestUrl.library}/create-new-email`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          authorization: that.getToken,
        },
        body: JSON.stringify({
          name: that.emailName,
          description: that.emailDescription,
        }),
      })
        .then((res) => {
          return res.json();
        })
        .then((res) => {
          console.log(res.post.results);
          that.$emit("create-new-email", res.post.results);
        });
      this.emailName = "";
      this.emailDescription = "";
    },
    cancelCreation() {
      this.emailName = "";
      this.emailDescription = "";
      this.$emit("show-popup-email");
    },
  },
  computed: {
    getToken() {
      return this.$store.getters.getToken;
    },
  },
};
</script>

<style scoped>
.new-email-popup {
  width: 50vw;
  height: 70vh;
  opacity: 0.8;
  background: #ad5389;
  background: -webkit-linear-gradient(to right, #3c1053, #ad5389);
  background: linear-gradient(to right, #3c1053, #ad5389);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0);
}

input[type="text"]:focus {
  border: none;
  border-bottom: 0.5px solid rgb(255, 255, 255);
  outline: none;
}

input[type="text"]:hover {
  cursor: pointer;
}

.new-email-popup .container label {
  margin: 5px 0 8px 0;
}

.new-email-popup .container.container-action-block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #ffffff;
  font-size: 20px;
}

input[type="button"] {
  color: #ffffff;
  font-size: 20px;
  border: 1px solid #00000000;
  background: #00000000;
  padding: 0px 30px;
}

input[type="button"]:focus,
input[type="button"]:hover {
  outline: 1px solid #00000000;
  color: #5effb1;
  cursor: pointer;
}

.new-email-popup .container {
  padding: 10px 15px;
  background: rgba(0, 0, 0, 0.352);
  margin: 3px 0;
  width: 285px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}
::placeholder {
  color: #ffffff3a;
  text-align: center;
}

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(172, 172, 172);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #4b4b4ba3;
  border-radius: 10px;
}
</style>