<template>
  <div
    class="library-item"
    v-bind:id="emailItem._id"
    v-on:click="makeActive"
    :class="{ active: isActive }"
    :style="{ backgroundImage: `url('./speech-bubble.png')` }"
  >
    <div class="library-item-name">
      <span>
        {{ emailItem.name }}
      </span>
    </div>
    <div class="library-item-status">
      <span>
        {{ emailItem.status }}
      </span>
    </div>
    <div v-show="isActive" class="library-item-toolbox">
      <router-link
        v-show="getToken"
        :to="{ name: 'Viewer', params: { id: emailItem._id } }"
      >
        <div
          class="toolbox-item"
          :style="{ backgroundImage: `url('./library-item-view.png')` }"
          title="View"
        ></div
      ></router-link>
      <router-link
        v-show="getToken"
        :to="{ name: 'Editor', params: { id: emailItem._id } }"
      >
        <div
          class="toolbox-item"
          :style="{ backgroundImage: `url('./library-item-edit.png')` }"
          title="Edit"
        ></div
      ></router-link>
      <router-link to="/mailer">
        <div
          class="toolbox-item"
          :style="{ backgroundImage: `url('./library-item-send.png')` }"
          title="Send"
        ></div>
      </router-link>
      <div
        class="toolbox-item"
        :style="{ backgroundImage: `url('./library-item-delete.png')` }"
        title="Delete"
        @click="removeEmail(emailItem._id)"
      ></div>
    </div>
  </div>
</template>

<script>
export default {
  name: "LibraryItem",
  emit: ["remove-email"],
  props: ["email-item"],
  data() {
    return {
      isActive: false,
      name: "My Mail",
      status: "Approved",
    };
  },
  methods: {
    makeActive() {
      this.isActive = !this.isActive;
      console.log(this.emailItem);
    },
    removeEmail(id) {
      swal({
        title: "Are you sure?",
        text:
          "Once deleted, you will not be able to recover data related to this email",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      }).then((willDelete) => {
        if (willDelete) {
          this.$emit("remove-email", id);
          swal("Poof! Your email was deleted!", {
            icon: "success",
          });
        } else {
          swal("Removing was cancelled");
        }
      });
    },
  },
  computed: {
    getToken() {
      return this.$store.getters.getToken;
    },
  },
};
</script>

<style scoped>
.library-item {
  background-color: rgba(0, 0, 0, 0.7);
  width: 120px;
  position: relative;
  height: 150px;
  border-radius: 2px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 15px;
}

.library-item-name,
.library-item-status {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  width: 100%;
  color: #ffffff;
  height: 35px;
}
.library-item-name {
  bottom: 0;
  font-size: 12px;
  border-radius: 0 0 2px 2px;
}
.library-item-status {
  top: 0;
  font-size: 15px;
  border-radius: 2px 2px 0 0;
}

.library-item:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 54px 55px,
    rgba(0, 0, 0, 0.5) 0px -12px 30px, rgba(0, 0, 0, 0.5) 0px 4px 6px,
    rgba(0, 0, 0, 0.5) 0px 12px 13px, rgba(0, 0, 0, 0.5) 0px -3px 5px;
  cursor: pointer;
}

.library-item.active {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.library-item-toolbox {
  width: 30px;
  height: 150px;
  position: relative;
  box-sizing: border-box;
  left: 119px;
  border-radius: 0 5px 5px 0;
  z-index: 2;
  padding: 5px 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.library-item-toolbox .toolbox-item {
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 5px 0;
  transition: all 0.2s;
}

.library-item-toolbox .toolbox-item:hover {
  transform: scale(1.1, 1.1);
}

a {
  display: block !important;
}
</style>