<template>
  <div class="library-toolbox">
    <div class="button" @click="showPopupEmail"><span>Create NEW</span></div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  emit: ["show-popup-email"],
  methods: {
    showPopupEmail() {
      this.$emit("show-popup-email");
    },
  },
  computed: {
    getToken() {
      return this.$store.getters.getToken;
    },
  },
};
</script>

<style scoped>
.library-toolbox {
  height: 30px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #ad5389;
  background: -webkit-linear-gradient(to right, #3c1053, #ad5389);
  background: linear-gradient(to right, #3c1053, #ad5389);
}

.library-toolbox .button {
  padding: 4px 12px;
  margin: 0 5px;
  font-size: 18px;
  box-sizing: border-box;
  border-radius: 4px;
}

.library-toolbox .button:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
}
</style>