<template>
  <div class="new-email-popup">
    <h1>New Recipient</h1>
    <div class="container">
      <label for="first-name">First name</label>
      <input
        class="first-name"
        id="first-name"
        v-model="recipient.firstName"
        type="text"
        placeholder="Recipient firstname"
      />
    </div>
    <div class="container">
      <label for="last-name">Last name</label>
      <input
        class="last-name"
        id="last-name"
        v-model="recipient.lastName"
        type="text"
        placeholder="Recipient lastname"
      />
    </div>
    <div class="container">
      <label for="email">Email</label>
      <input
        class="email"
        id="email"
        v-model="recipient.email"
        type="text"
        placeholder="Recipient email"
      />
    </div>
    <div class="container">
      <label for="phone">Phone</label>
      <input
        class="phone"
        id="phone"
        v-model="recipient.phone"
        type="text"
        placeholder="Recipient phone"
      />
    </div>
    <div class="container">
      <label for="salutation">Salutation</label>
      <input
        class="salutation"
        id="salutation"
        v-model="recipient.salutation"
        type="text"
        placeholder="Recipient salutation"
      />
    </div>
    <div class="container">
      <label for="title">Title</label>
      <input
        class="title"
        id="title"
        v-model="recipient.title"
        type="text"
        placeholder="Recipient title"
      />
    </div>
    <div class="container container-action-block">
      <input type="button" @click="createRecipient" value="Create" />|
      <input type="button" @click="cancelCreation" value="Cancel" />
    </div>
  </div>
</template>
<script>
import RequestUrl from "@/configStore/API.json";
import { mapGetters } from "vuex";

export default {
  name: "LibraryNewPopup",
  emit: ["create-new-recipient", "show-popup-recipient"],
  data() {
    return {
      recipient: {
        firstName: "",
        lastName: "",
        email: "",
        phone: "",
        salutation: "",
        title: ""
      }

    };
  },
  methods: {
    createRecipient() {
      const that = this;
      fetch(`${RequestUrl.recipient}/create-new-recipient`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          authorization: that.getToken,
        },
        body: JSON.stringify({
          recipient: that.recipient
        }),
      })
        .then((res) => {
          return res.json();
        })
        .then((res) => {
          console.log(res);
          this.$emit("create-new-recipient", res);
        });
      this.recipient = {
        firstName: "",
        lastName: "",
        email: "",
        phone: "",
        salutation: "",
        title: ""
      }
    },
    cancelCreation() {
      this.recipient = {
        firstName: "",
        lastName: "",
        email: "",
        phone: "",
        salutation: "",
        title: ""
      }
      this.$emit("show-popup-recipient");
    },
  },
  computed: {
    getToken() {
      return this.$store.getters.getToken;
    },
  },
};
</script>

<style scoped>
.new-email-popup {
  width: 50vw;
  height: 70vh;
  opacity: 0.8;
  background: #ad5389;
  background: -webkit-linear-gradient(to right, #3c1053, #ad5389);
  background: linear-gradient(to right, #3c1053, #ad5389);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-email-popup h1 {
  margin-top: 0;
}

input[type="text"] {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0);
}

input[type="text"]:focus {
  border: none;
  border-bottom: 0.5px solid rgb(255, 255, 255);
  outline: none;
}

input[type="text"]:hover {
  cursor: pointer;
}

.new-email-popup .container label {
  margin: 5px 0 8px 0;
}

.new-email-popup .container.container-action-block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #ffffff;
  font-size: 20px;
}

input[type="button"] {
  color: #ffffff;
  font-size: 20px;
  border: 1px solid #00000000;
  background: #00000000;
  padding: 0px 30px;
}

input[type="button"]:focus,
input[type="button"]:hover {
  outline: 1px solid #00000000;
  color: #5effb1;
  cursor: pointer;
}

.new-email-popup .container {
  padding: 10px 15px;
  background: rgba(0, 0, 0, 0.352);
  margin: 3px 0;
  width: 285px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}
::placeholder {
  color: #ffffff3a;
  text-align: center;
}

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(172, 172, 172);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #4b4b4ba3;
  border-radius: 10px;
}
</style>