<template>
  <tr>
    <td v-show="update">
      <input type="text" v-model="recipientLocal.firstName" />
    </td>
    <td v-show="update">
      <input type="text" v-model="recipientLocal.lastName" />
    </td>
    <td v-show="update">
      <input type="text" v-model="recipientLocal.email" />
    </td>
    <td v-show="update">
      <input type="text" v-model="recipientLocal.phone" />
    </td>
    <td v-show="update">
      <input type="text" v-model="recipientLocal.salutation" />
    </td>
    <td v-show="update">
      <input type="text" v-model="recipientLocal.title" />
    </td>
    <td v-show="!update">{{ recipientLocal.firstName }}</td>
    <td v-show="!update">{{ recipientLocal.lastName }}</td>
    <td v-show="!update">{{ recipientLocal.email }}</td>
    <td v-show="!update">{{ recipientLocal.phone }}</td>
    <td v-show="!update">{{ recipientLocal.salutation }}</td>
    <td v-show="!update">{{ recipientLocal.title }}</td>
    <td class="action-buttons">
      <div
        v-show="!update"
        class="button"
        @click="updateRecipient(recipientLocal._id)"
      >
        <span>Edit recipient</span>
      </div>
      <div
        v-show="!update"
        class="button"
        @click="sendEmail(recipientLocal._id)"
      >
        <router-link to="/mailer"> <span>Send email</span></router-link>
      </div>
      <div
        v-show="!update"
        class="button"
        @click="removeRecipient(recipientLocal._id)"
      >
        <span>Remove Recipient</span>
      </div>
      <div
        v-show="update"
        class="button save-changes"
        @click="finishUpdate(recipientLocal._id)"
      >
        <span>Save Changes</span>
      </div>
    </td>
  </tr>
</template>

<script>
import swal from "sweetalert";
import RequestUrl from "@/configStore/API.json";

export default {
  name: "RecipientItem",
  props: ["recipient"],
  components: {},
  emit: ["update-recipient", "remove-recipient"],
  data() {
    return {
      update: false,
      recipientLocal: this.recipient,
    };
  },
  methods: {
    finishUpdate(id) {
      this.update = !this.update;
      const that = this;
      fetch(`${RequestUrl.recipient}/update-recipient/${id}`, {
        method: "PUT",
        headers: {
          "Content-Type": "application/json",
          authorization: that.getToken,
        },
        body: JSON.stringify({
          recipient: that.recipientLocal
        }),
      })
        .then((res) => {
          return res.json();
        })
        .then((res) => {
          console.log(res);
        });
    },
    updateRecipient(id) {
      this.update = !this.update;
    },
    sendEmail(id) {},
    removeRecipient(id) {
      swal({
        title: "Are you sure?",
        text:
          "Once deleted, you will not be able to recover data related to this recipient",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      }).then((willDelete) => {
        if (willDelete) {
          this.$emit("remove-recipient", id);
          swal("Poof! Your recipient was deleted!", {
            icon: "success",
          });
        } else {
          swal("Removing was cancelled");
        }
      });
    },
  },
  computed: {
    getToken() {
      return this.$store.getters.getToken;
    },
  },
};
</script>

<style scoped>
.action-buttons {
  display: flex;
}

.action-buttons {
  box-sizing: border-box;
  height: 100%;
}

input[type="text"] {
  color: #ffffff;
  background-color: rgba(6, 6, 6, 0.749);
  border: none;
  margin: 0;
  padding: 10px 5px;
  width: 100px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0);
}

input[type="text"]:focus {
  border: none;
  border-bottom: 0.5px solid rgb(255, 255, 255);
  outline: none;
}

input[type="text"]:hover {
  cursor: pointer;
}

.button {
  padding: 4px 8px;
  margin: 0 5px;
  font-size: 14px;
  box-sizing: border-box;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.3);
}

.button:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.6);
}
th,
td {
  padding: 15px;
  color: #fff;
}
th {
  text-align: left;
}
thead th {
  background-color: #55608f;
}
tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
tbody td {
  position: relative;
}
tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}

.library-item-name,
.library-item-status {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  background: #000;
  width: 100%;
  color: #beffe0;
  height: 35px;
}
.library-item-name {
  bottom: 0;
  font-size: 12px;
  border-radius: 0 0 2px 2px;
}
.library-item-status {
  top: 0;
  font-size: 15px;
  border-radius: 2px 2px 0 0;
}

.library-item:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 54px 55px,
    rgba(0, 0, 0, 0.5) 0px -12px 30px, rgba(0, 0, 0, 0.5) 0px 4px 6px,
    rgba(0, 0, 0, 0.5) 0px 12px 13px, rgba(0, 0, 0, 0.5) 0px -3px 5px;
  cursor: pointer;
}

.library-item.active {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.library-item-toolbox {
  width: 30px;
  height: 150px;
  position: relative;
  box-sizing: border-box;
  left: 100px;
  border-radius: 0 5px 5px 0;
  z-index: 2;
  padding: 5px 0;
  background: rgb(147, 214, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.library-item-toolbox .toolbox-item {
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 5px 0;
  transition: all 0.2s;
}

.library-item-toolbox .toolbox-item:hover {
  transform: scale(1.1, 1.1);
}

a {
  text-decoration: none;
  color: #fff;
  display: block !important;
}
</style>