<template>
  <div class="about">
    <h1>About Us</h1>
    <div class="about-article">
      <span>This service was created for helping people create their custom
        email design without development expirience. We are working at Ukraine, Zhytomyr to improve our project and create more flexible and responsive emails. If you have any suggestions or questions do not hesitate to contacts us via email <a href="mailto:sendify.mailer@gmail.com">sendify.mailer@gmail.com</a>
, we will be happy to hear the feedback from you. We are really enjoy to working on our project and will continue to improve it day by day. Email Templates is a way to get closer to your recipients and impress them with new modern deisgns and propositions. 
      </span>
      <span>This is only dev Project version for Testing Purposes so please stay tuned.</span>
      <span>Happy sendings!<br>Best Regards,<br>Sendify Team</span>
      <span align="center"><img src="./speech-bubble.png" alt="email"></span>
    </div>
  </div>
</template>
<script>

export default {
  name: 'About',
  components: {
    
  }
}
</script>

<style scoped>
.about {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 94vh;
background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}

.about-article{
  width: 40vw;
  text-align: justify;
  line-height: 20px;
  display: flex;
  align-items: flex;
  justify-content: flex;
  flex-direction: column;
}

.about-article span {
  padding: 15px;
}

.about-article span img {
  height: 10vw;
  width: 10vw;
}

.about-article span a {
  color: #fff;
}

</style>>

