<template>
  <div class="activity-page-wrapper">
    <div class="activity-panel-wrapper">
      <button :class="{ isActive: !getData }" @click="enableActivity">
        Activity
      </button>
      <button :class="{ isActive: !getData }" @click="enableStats">
        Stats
      </button>
      <button :class="{ isActive: !getData }" @click="enableGraph">
        Graph
      </button>
      <button
        :class="{ isActive: !getData }"
        @click="csvExport(filteredActivity)"
      >
        Export Activity
      </button>
      <button :class="{ isActive: !getData }" @click="csvExport(filteredStats)">
        Export Stats
      </button>
      <button @click="refresh">Get Data</button>
    </div>
    <div v-show="showTab == 'activity'" class="activity-wrapper">
      <div class="activity-data-table">
        <div class="activity-item activity-table-header">
          <div class="to-email"><span>To Email</span></div>
          <div class="subject">
            <span>Subject</span>
          </div>
          <div class="click-count"><span>Click Count</span></div>
          <div class="opens-count"><span>Opens Count</span></div>
          <div class="last-event-time"><span>Last Activity Time</span></div>
          <div class="status"><span>Status</span></div>
        </div>
        <div class="acitivity-items-wrapper">
          <div
            class="activity-item"
            v-for="item in filteredActivity"
            :key="item.msg_id"
          >
            <div class="to-email">
              <span>{{ item.to_email }}</span>
            </div>
            <div class="subject">
              <span>{{ item.subject }}</span>
            </div>
            <div class="click-count">
              <span>{{ item.clicks_count }}</span>
            </div>
            <div class="opens-count">
              <span>{{ item.opens_count }}</span>
            </div>
            <div class="last-event-time">
              <span>{{ item.last_event_time }}</span>
            </div>
            <div class="status">
              <span>{{ item.status }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-show="showTab == 'stats'" class="stats-wrapper">
      <div class="stats-data-table">
        <div class="stats-item">
          <div class="activity-item activity-table-header">
            <div class="to-email"><span>Date</span></div>
            <div class="click-count"><span>Opens</span></div>
            <div class="opens-count"><span>Unique Opens</span></div>
            <div class="click-count"><span>Clicks</span></div>
            <div class="opens-count"><span>Unique Clicks</span></div>
            <div class="last-event-time"><span>Delivered</span></div>
            <div class="last-event-time"><span>Bounces</span></div>
            <div class="last-event-time"><span>Spam Reports</span></div>
            <div class="status"><span>Blocks</span></div>
          </div>
          <div class="acitivity-items-wrapper">
            <div
              class="activity-item"
              v-for="item in filteredStats"
              :key="item.date"
            >
              <div class="to-email">
                <span>{{ item.date }}</span>
              </div>
              <div class="click-count">
                <span>{{ item.opens }}</span>
              </div>
              <div class="opens-count">
                <span>{{ item.unique_opens }}</span>
              </div>
              <div class="click-count">
                <span>{{ item.clicks }}</span>
              </div>
              <div class="opens-count">
                <span>{{ item.unique_clicks }}</span>
              </div>
              <div class="last-event-time">
                <span>{{ item.delivered }}</span>
              </div>
              <div class="last-event-time">
                <span>{{ item.bounces }}</span>
              </div>
              <div class="last-event-time">
                <span>{{ item.spam_reports }}</span>
              </div>
              <div class="status">
                <span>{{ item.blocks }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="showTab == 'graph' && filteredStats" class="graph-wrapper">
      <charts :filteredStats="filteredStats"></charts>
    </div>
  </div>
</template>

<script>
import RequestUrl from "@/configStore/API.json";
import Charts from "@/components/Charts.vue";

export default {
  name: "Activity",
  components: { Charts },
  props: [],
  data() {
    return {
      showTab: "",
      stats: "",
      activity: "",
      filteredActivity: "",
      filteredStats: "",
      getData: false,
    };
  },
  methods: {
    enableActivity() {
      if (this.getData) this.showTab = "activity";
    },
    enableStats() {
      if (this.getData) this.showTab = "stats";
    },
    enableGraph() {
      if (this.getData) this.showTab = "graph";
    },
    csvExport(exportData) {
      if (!this.activity && !this.stats) return;
      let csvContent = "data:text/csv;charset=utf-8,";
      Object.keys(exportData[0]).forEach((item) => {
        csvContent += `${item},`;
      });
      csvContent += "\n";
      exportData.forEach((item) => {
        for (const [key, value] of Object.entries(item)) {
          csvContent += `${value},`;
        }
        csvContent += "\n";
      });
      const data = encodeURI(csvContent);
      const link = document.createElement("a");
      link.setAttribute("href", data);
      link.setAttribute("download", "export.csv");
      link.click();
    },
    refresh() {
      if (this.activity && this.stats) return;
      this.getData = true;
      this.showTab = "activity";
      const that = this;
      fetch(`${RequestUrl.activity}/get-stats`, {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
          authorization: that.getToken,
        },
      })
        .then((res) => {
          return res.json();
        })
        .then((res) => {
          console.log(res.stats.body);
          that.stats = res.stats.body;
          that.filteredStats = res.stats.body.reverse();
          that.filteredStats.forEach((item, index) => {
            that.filteredStats[index]["opens"] = item.stats[0].metrics.opens;
            that.filteredStats[index]["unique_opens"] =
              item.stats[0].metrics.unique_opens;
            that.filteredStats[index]["clicks"] = item.stats[0].metrics.clicks;
            that.filteredStats[index]["unique_clicks"] =
              item.stats[0].metrics.unique_clicks;
            that.filteredStats[index]["delivered"] =
              item.stats[0].metrics.delivered;
            that.filteredStats[index]["bounces"] =
              item.stats[0].metrics.bounces;
            that.filteredStats[index]["spam_reports"] =
              item.stats[0].metrics.spam_reports;
            that.filteredStats[index]["blocks"] = item.stats[0].metrics.blocks;
            delete that.filteredStats[index]["stats"];
          });
        });
      fetch(`${RequestUrl.activity}/get-activity`, {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
          authorization: that.getToken,
        },
      })
        .then((res) => {
          return res.json();
        })
        .then((res) => {
          console.log(res.activity[1].messages);
          that.activity = res.activity[1].messages;
          that.filteredActivity = res.activity[1].messages;
        });
    },
  },
  computed: {
    getToken() {
      return this.$store.getters.getToken;
    },
  },
  beforeMount() {},
};
</script>

<style scoped>
.activity-page-wrapper {
  padding: 0 15px;
  height: 95vh;
  background: #141e30;
  background: -webkit-linear-gradient(to right, #243b55, #141e30);
  background: linear-gradient(to right, #243b55, #141e30);
}

.activity-panel-wrapper {
  text-align: left;
  margin-bottom: 3px;
}

.stats-wrapper,
.activity-wrapper {
  border: 1px solid #5effb185;
}

.activity-wrapper,
.activity-data-table {
  height: 89vh;
  background: rgba(0, 0, 0, 0.4);
}

.stats-wrapper,
.stats-data-table {
  height: 89vh;
  background: rgba(255, 255, 255, 0.1);
}

.activity-item {
  display: flex;
  align-items: stretch;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  min-height: 40px;
}

.activity-item div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
  font-size: 14px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  overflow-y: hidden;
}

.activity-table-header {
  background: rgba(255, 255, 255, 0.4);
}

.activity-table-header div {
  font-size: 18px;
}

.activity-item div span {
  overflow-y: hidden;
  padding: 0 5px;
}

.activity-item div.status {
  border-right: none;
}

.activity-panel-wrapper button {
  cursor: pointer;
  font-size: 18px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  border-top: none;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-radius: 0 0 15px 15px;
  padding: 10px 29px;
  margin: 0 1px;
  outline: none;
}

.activity-panel-wrapper button.isActive {
  background: rgba(169, 169, 169, 0.79) !important;
  color: #ffffff47 !important;
  border-color: rgba(169, 169, 169, 0.3) !important;
}

.acitivity-items-wrapper {
  overflow-y: auto;
  height: 83.6vh;
}

.activity-panel-wrapper button:active,
.activity-panel-wrapper button:hover {
  outline: none;
  border-color: #5effb179;
  color: #5effb1;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(172, 172, 172);
}
::-webkit-scrollbar-thumb {
  background: #4b4b4ba3;
}
</style>