<template>
  <div
    class="login-wrap"
    v-show="!this.$store.getters.getToken"
    :style="{
      backgroundImage: `url('./3px-tile-tiny-dark-square-tiles-seamless-pattern.jpg')`,
    }"
  >
    <div class="login-html">
      <input id="tab-1" type="radio" name="tab" class="sign-in" checked /><label
        for="tab-1"
        class="tab"
        >Sign In</label
      >
      <input id="tab-2" type="radio" name="tab" class="sign-up" /><label
        for="tab-2"
        class="tab"
        >Sign Up</label
      >
      <div class="login-form">
        <div class="sign-in-htm">
          <div class="group">
            <label for="user" class="label">Username</label>
            <input
              id="user"
              v-model="login.username"
              type="text"
              class="input"
            />
          </div>
          <div class="group">
            <label for="pass" class="label">Password</label>
            <input
              id="pass"
              type="password"
              class="input"
              v-model="login.password"
              data-type="password"
            />
          </div>
          <div class="group">
            <input
              type="submit"
              v-on:click.prevent="loginAuth"
              class="button"
              value="Sign In"
            />
          </div>
          <div class="hr"></div>
        </div>
        <div class="sign-up-htm">
          <div class="group">
            <label for="newUser" class="label">Username</label>
            <input
              id="newUser"
              v-model="signup.username"
              type="text"
              class="input"
            />
          </div>
          <div class="group">
            <label for="newPass" class="label">Password</label>
            <input
              id="newPass"
              type="password"
              class="input"
              v-model="signup.password"
              data-type="password"
            />
          </div>
          <div class="group">
            <label for="email" class="label">Email Address</label>
            <input
              id="email"
              v-model="signup.email"
              type="text"
              class="input"
            />
          </div>
          <div class="group">
            <label for="firstName" class="label">First Name</label>
            <input
              id="firstName"
              v-model="signup.firstName"
              type="text"
              class="input"
            />
          </div>
          <div class="group">
            <label for="lastName" class="label">Last Name</label>
            <input
              id="lastName"
              v-model="signup.lastName"
              type="text"
              class="input"
            />
          </div>
          <div class="group">
            <label for="companyPhone" class="label">Company Phone</label>
            <input
              id="companyPhone"
              v-model="signup.companyPhone"
              type="text"
              class="input"
            />
          </div>
          <div class="group">
            <label for="companyAddress" class="label">Company Address</label>
            <input
              id="companyAddress"
              v-model="signup.companyAddress"
              type="text"
              class="input"
            />
          </div>
          <div class="group">
            <input
              type="submit"
              v-on:click.prevent="signupAuth"
              class="button"
              value="Sign Up"
            />
          </div>
          <div class="hr"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="logged-in" v-show="this.$store.getters.getToken">
    <h2>You are logged in.</h2>
  </div>
</template>

<script>
import RequestUrl from "@/configStore/API.json";
import swal from "sweetalert";
import { mapGetters } from "vuex";

export default {
  name: "Authorization",
  data() {
    return {
      login: {
        username: "",
        password: "",
      },
      signup: {
        username: "",
        firstName: "",
        lastName: "",
        email: "",
        companyPhone: "",
        companyAddress: "",
        password: "",
      },
    };
  },
  methods: {
    loginAuth() {
      const that = this;
      fetch(`${RequestUrl.auth}/login`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          username: this.login.username,
          password: this.login.password,
        }),
      })
        .then(function (res) {
          return res.json();
        })
        .then(function (data) {
          localStorage.setItem("sendify-token", data.token);
          that.$store.commit("setToken", localStorage.getItem("sendify-token"));
        });
    },
    signupAuth() {
      fetch(`${RequestUrl.auth}/signup`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          username: this.signup.username,
          firstName: this.signup.firstName,
          lastName: this.signup.lastName,
          email: this.signup.email,
          companyPhone: this.signup.companyPhone,
          companyAddress: this.signup.companyAddress,
          password: this.signup.password,
        }),
      })
        .then(function (res) {
          return res.json();
        })
        .then(function (data) {
          console.log(data);
          swal({
            title: "Good job!",
            text: "You was registered!",
            icon: "success",
            button: "Finish registration",
          });
          setTimeout(function() {
            window.open('/');
          }, 1000)
        });
    },
  },
  computed: {
    ...mapGetters(["getToken"]),
  },
};
</script>

<style scoped>
.login-wrap {
  margin: 0;
  color: #6a6f8c;
  background: #c8c8c8;
  font: 600 16px/18px "Open Sans", sans-serif;
  overflow-y: scroll;
}
*,
:after,
:before {
  box-sizing: border-box;
}
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
  display: block;
}
a {
  color: inherit;
  text-decoration: none;
}

.login-wrap {
  width: 100%;
  margin: auto;
  max-width: 525px;
  min-height: 670px;
  position: relative;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.login-html {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 90px 70px 50px 70px;
}
.login-html .sign-in-htm,
.login-html .sign-up-htm {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: all 0.4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
  display: none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button {
  text-transform: uppercase;
}
.login-html .tab {
  font-size: 22px;
  margin-right: 15px;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab {
  color: #fff;
  border-color: #000000aa;
}
.login-form {
  min-height: 345px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.login-form .group {
  margin-bottom: 15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
  width: 100%;
  color: #fff;
  display: block;
}
.login-form .group .input,
.login-form .group .button {
  border: none;
  padding: 15px 20px;
  background: rgba(255, 255, 255, 0.3);
}
.login-form .group input[data-type="password"] {
  -webkit-text-security: circle;
}
.login-form .group .label {
  color: #aaa;
  font-size: 12px;
}
.login-form .group .button {
  background: #000000aa;
}
.login-form .group .button:hover {
  background: #000000;
  color: #ffffff;
  cursor: pointer;
}

.login-form .group label .icon {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  background: rgba(255, 255, 255, 0.3);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after {
  content: "";
  width: 10px;
  height: 2px;
  background: #fff;
  position: absolute;
  transition: all 0.2s ease-in-out 0s;
}
.login-form .group label .icon:before {
  left: 3px;
  width: 5px;
  bottom: 6px;
  transform: scale(0) rotate(0);
}
.login-form .group label .icon:after {
  top: 6px;
  right: 0;
  transform: scale(0) rotate(0);
}
.login-form .group .check:checked + label {
  color: #fff;
}
.login-form .group .check:checked + label .icon {
  background: #000000aa;
}
.login-form .group .check:checked + label .icon:before {
  transform: scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after {
  transform: scale(1) rotate(-45deg);
}
.login-html
  .sign-in:checked
  + .tab
  + .sign-up
  + .tab
  + .login-form
  .sign-in-htm {
  transform: rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
  transform: rotate(0);
}

.hr {
  height: 2px;
  margin: 60px 0 50px 0;
  background: rgba(255, 255, 255, 0.2);
}
.foot-lnk {
  text-align: center;
}

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(172, 172, 172);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #4b4b4ba3;
  border-radius: 10px;
}
</style>