<template>
  <div class="editor">
    <div class="editor-toolbox">
      <editor-tool
        :emailData="mailInfo"
        @changeName="changeName"
        @saveEmail="saveEmail"
      ></editor-tool>
    </div>
    <div class="editor-main">
      <div class="editor-component-panel">
        <!-- <img src="./assets/logo.png"> -->
        <div class="editor-component-line-item" @click="addTextComponent">
          <span>TEXT</span>
        </div>
        <div class="editor-component-line-item" @click="addImageComponent">
          <span>IMAGE</span>
        </div>
        <div class="editor-component-line-item" @click="addButtonComponents">
          <span>BUTTON</span>
        </div>
        <div class="editor-component-line-item" @click="addLinkComponents">
          <span>LINK</span>
        </div>
        <div class="editor-component-line-item" @click="addVideoComponent">
          <span>VIDEO</span>
        </div>
        <div class="editor-component-line-item" @click="addDividerComponent">
          <span>DIVIDER</span>
        </div>
      </div>
      <div
        class="editor-mail-view"
        :style="{ backgroundImage: `url('./v748-toon-80_1_1.jpg')` }"
      >
        <div
          class="editor-mail-body"
          v-on:click="initEditing"
          v-html="htmlContent"
        ></div>
      </div>
    </div>
    <editor-block-text
      v-on:closeWithoutSave="closeWithoutSave"
      v-on:applyChanges="applyChanges"
      v-on:removeBlock="removeBlock"
      v-on:moveBlockDown="moveBlockDown"
      v-on:moveBlockUp="moveBlockUp"
      v-if="chosenBlock && this.currentBlock.element.component === 'text'"
      v-bind:currentBlock="currentBlock"
    ></editor-block-text>
    <editor-block-image
      v-on:closeWithoutSave="closeWithoutSave"
      v-on:applyChanges="applyChanges"
      v-on:removeBlock="removeBlock"
      v-on:moveBlockDown="moveBlockDown"
      v-on:moveBlockUp="moveBlockUp"
      v-if="chosenBlock && this.currentBlock.element.component === 'image'"
      v-bind:currentBlock="currentBlock"
    ></editor-block-image>
    <editor-block-button
      v-on:closeWithoutSave="closeWithoutSave"
      v-on:applyChanges="applyChanges"
      v-on:removeBlock="removeBlock"
      v-on:moveBlockDown="moveBlockDown"
      v-on:moveBlockUp="moveBlockUp"
      v-if="chosenBlock && this.currentBlock.element.component === 'button'"
      v-bind:currentBlock="currentBlock"
    ></editor-block-button>
    <editor-block-link
      v-on:closeWithoutSave="closeWithoutSave"
      v-on:applyChanges="applyChanges"
      v-on:removeBlock="removeBlock"
      v-on:moveBlockDown="moveBlockDown"
      v-on:moveBlockUp="moveBlockUp"
      v-if="chosenBlock && this.currentBlock.element.component === 'link'"
      v-bind:currentBlock="currentBlock"
    ></editor-block-link>
    <editor-block-video
      v-on:closeWithoutSave="closeWithoutSave"
      v-on:applyChanges="applyChanges"
      v-on:removeBlock="removeBlock"
      v-on:moveBlockDown="moveBlockDown"
      v-on:moveBlockUp="moveBlockUp"
      v-if="chosenBlock && this.currentBlock.element.component === 'video'"
      v-bind:currentBlock="currentBlock"
    ></editor-block-video>
    <editor-block-divider
      v-on:closeWithoutSave="closeWithoutSave"
      v-on:applyChanges="applyChanges"
      v-on:removeBlock="removeBlock"
      v-on:moveBlockDown="moveBlockDown"
      v-on:moveBlockUp="moveBlockUp"
      v-if="chosenBlock && this.currentBlock.element.component === 'divider'"
      v-bind:currentBlock="currentBlock"
    ></editor-block-divider>
  </div>
</template>

<script>
import EditorBlockText from "@/components/EditorBlocks/EditorBlockText.vue";
import EditorBlockImage from "@/components/EditorBlocks/EditorBlockImage.vue";
import EditorBlockButton from "@/components/EditorBlocks/EditorBlockButton.vue";
import EditorBlockLink from "@/components/EditorBlocks/EditorBlockLink.vue";
import EditorBlockVideo from "@/components/EditorBlocks/EditorBlockVideo.vue";
import EditorBlockDivider from "@/components/EditorBlocks/EditorBlockDivider.vue";
import EditorTool from "@/components/EditorTool.vue";

import swal from "sweetalert";
import RequestUrl from "@/configStore/API.json";
import ComponentConfig from "@/configStore/components.json";
import Vue from "vue";

export default {
  name: "Editor",
  components: {
    EditorBlockText,
    EditorBlockImage,
    EditorBlockButton,
    EditorBlockLink,
    EditorBlockVideo,
    EditorBlockDivider,
    EditorTool,
  },
  data() {
    return {
      chosenBlock: false,
      currentBlock: {},
      htmlContent: "",
      mailInfo: {},
      emailTemplate: {},
    };
  },
  methods: {
    initEditing(e) {
      if (this.chosenBlock === true) return;
      let prop = e.target.id.split("-");
      if (prop[0] !== "editable") return 0;
      this.currentBlock = {
        id: prop[prop.length - 1],
        element: this.emailTemplate.body[prop[prop.length - 1]],
      };
      this.chosenBlock = true;
    },
    addTextComponent() {
      if (this.chosenBlock === true) return;
      this.emailTemplate.body.push(
        JSON.parse(JSON.stringify(ComponentConfig.textComponent))
      );
      this.buildEmail();
    },
    addImageComponent() {
      if (this.chosenBlock === true) return;
      this.emailTemplate.body.push(
        JSON.parse(JSON.stringify(ComponentConfig.imageComponent))
      );
      this.buildEmail();
    },
    addButtonComponents() {
      if (this.chosenBlock === true) return;
      this.emailTemplate.body.push(
        JSON.parse(JSON.stringify(ComponentConfig.buttonComponent))
      );
      this.buildEmail();
    },
    addLinkComponents() {
      if (this.chosenBlock === true) return;
      this.emailTemplate.body.push(
        JSON.parse(JSON.stringify(ComponentConfig.linkComponent))
      );
      this.buildEmail();
    },
    addVideoComponent() {
      if (this.chosenBlock === true) return;
      this.emailTemplate.body.push(
        JSON.parse(JSON.stringify(ComponentConfig.videoComponent))
      );
      this.buildEmail();
    },
    addDividerComponent() {
      if (this.chosenBlock === true) return;
      this.emailTemplate.body.push(
        JSON.parse(JSON.stringify(ComponentConfig.dividerComponent))
      );
      this.buildEmail();
    },
    buildEmail() {
      this.htmlContent = this.emailTemplate.header;
      this.emailTemplate.body.forEach((element, index) => {
        switch (element.component) {
          case "text":
            this.htmlContent += `<tr style="outline: 1px dashed #3b10534f;">${this.compileTextComponent(
              element,
              index
            )}</tr>`;
            break;
          case "image":
            this.htmlContent += `<tr style="outline: 1px dashed #3b10534f;">${this.compileImageComponent(
              element,
              index
            )}</tr>`;
            break;
          case "button":
            this.htmlContent += `<tr style="outline: 1px dashed #3b10534f;">${this.compileButtonComponent(
              element,
              index
            )}</tr>`;
            break;
          case "link":
            this.htmlContent += `<tr style="outline: 1px dashed #3b10534f;">${this.compileLinkComponent(
              element,
              index
            )}</tr>`;
            break;
          case "video":
            this.htmlContent += `<tr style="outline: 1px dashed #3b10534f;">${this.compileVideoComponent(
              element,
              index
            )}</tr>`;
            break;
          case "divider":
            this.htmlContent += `<tr style="outline: 1px dashed #3b10534f;">${this.compileDividerComponent(
              element,
              index
            )}</tr>`;
            break;
          default:
            break;
        }
      });
      this.htmlContent += this.emailTemplate.footer;
    },
    compileTextComponent(elem, index) {
      let tdStyle = "";
      for (const [key, value] of Object.entries(elem.styleProperties)) {
        switch (key) {
          case "padding":
            tdStyle += key + this.paddingBuilder(value);
            break;
          case "color":
            tdStyle += `${key}:${value};`;
            break;
          case "font-family":
            tdStyle += `${key}:${value};`;
            break;
          case "background-color":
            tdStyle += `${key}:${value};`;
            break;
          case "font-style":
            tdStyle += `${key}:${value};`;
            break;
          case "text-align":
            tdStyle += `${key}:${value};`;
            break;
          case "font-weight":
            tdStyle += `${key}:${value};`;
            break;
          case "text-decoration":
            tdStyle += `${key}:${value};`;
            break;
          default:
            tdStyle += `${key}:${value}px;`;
            break;
        }
      }
      return `<td id="editable-text-${index}" style="${tdStyle}">${elem.text}</td>`;
    },
    compileImageComponent(elem, index) {
      let tdStyle = "";
      let imgStyle = "";
      for (const [key, value] of Object.entries(elem.styleProperties)) {
        switch (key) {
          case "padding":
            tdStyle += key + this.paddingBuilder(value);
            break;
          case "background-color":
            tdStyle += `${key}:${value};`;
            break;
          default:
            tdStyle += `${key}:${value}px;`;
            break;
        }
      }
      for (const [key, value] of Object.entries(elem.elementsProperties)) {
        imgStyle += ` ${key}="${value}" `;
      }
      return `<td id="editable-image-${index}" align="center" style="${tdStyle}"><img id="editable-image-${index}" ${imgStyle}style="display:block"/></td>`;
    },
    compileButtonComponent(elem, index) {
      let aStyle = "";
      let aComp = "";
      let tdStyle = "";
      let tdComp = "";
      let tdPadd = "";
      for (const [key, value] of Object.entries(elem.styleProperties2)) {
        switch (key) {
          case "padding":
            tdStyle += key + this.paddingBuilder(value);
            break;
          case "background-color":
            tdStyle += `${key}:${value};`;
            break;
          default:
            tdStyle += `${key}:${value}px;`;
            break;
        }
      }
      for (const [key, value] of Object.entries(elem.outerProperties)) {
        tdComp += ` ${key}="${value}" `;
      }
      for (const [key, value] of Object.entries(elem.styleProperties)) {
        switch (key) {
          case "color":
            aStyle += `${key}:${value} !important;`;
            break;
          case "font-family":
            aStyle += `${key}:${value};`;
            break;
          case "font-style":
            aStyle += `${key}:${value};`;
            break;
          case "text-align":
            aStyle += `${key}:${value};`;
            break;
          case "font-weight":
            aStyle += `${key}:${value};`;
            break;
          case "text-decoration":
            aStyle += `${key}:${value};`;
            break;
          default:
            aStyle += `${key}:${value}px;`;
            break;
        }
      }
      for (const [key, value] of Object.entries(elem.elementsProperties)) {
        aComp += ` ${key}="${value}" `;
      }
      for (const [key, value] of Object.entries(elem.outerProperties2)) {
        switch (key) {
          case "padding":
            tdPadd += key + this.paddingBuilder(value);
            break;
          default:
            tdPadd += `${key}:${value}px;`;
            break;
        }
      }
      return `<td id="editable-button-${index}" ${tdComp} style="${tdPadd}"><table border="0" id="editable-button-${index}" cellpadding="0" cellspacing="0"><tr><td id="editable-button-${index}" style="${tdStyle}"><span  id="editable-button-${index}" style="${aStyle}" ${aComp}>${elem.text}</span></td></tr></table></td>`;
    },
    compileLinkComponent(elem, index) {
      let tdStyle = "";
      let aComp = "";
      for (const [key, value] of Object.entries(elem.styleProperties)) {
        switch (key) {
          case "padding":
            tdStyle += key + this.paddingBuilder(value);
            break;
          case "color":
            tdStyle += `${key}:${value};`;
            break;
          case "font-family":
            tdStyle += `${key}:${value};`;
            break;
          case "background-color":
            tdStyle += `${key}:${value};`;
            break;
          case "font-style":
            tdStyle += `${key}:${value};`;
            break;
          case "text-align":
            tdStyle += `${key}:${value};`;
            break;
          case "font-weight":
            tdStyle += `${key}:${value};`;
            break;
          case "text-decoration":
            tdStyle += `${key}:${value};`;
            break;
          default:
            tdStyle += `${key}:${value}px;`;
            break;
        }
      }
      for (const [key, value] of Object.entries(elem.elementsProperties)) {
        aComp += ` ${key}="${value}" `;
      }
      return `<td id="editable-link-${index}" style="${tdStyle}"><span id="editable-link-${index}" ${aComp}>${elem.text}</span></td>`;
    },
    compileVideoComponent(elem, index) {
      let tdStyle = "";
      let imgStyle = "";
      let aComp = "";
      for (const [key, value] of Object.entries(elem.styleProperties)) {
        switch (key) {
          case "padding":
            tdStyle += key + this.paddingBuilder(value);
            break;
          case "background-color":
            tdStyle += `${key}:${value};`;
            break;
          default:
            tdStyle += `${key}:${value}px;`;
            break;
        }
      }
      for (const [key, value] of Object.entries(elem.elementsProperties)) {
        imgStyle += ` ${key}="${value}" `;
      }
      for (const [key, value] of Object.entries(elem.elementsProperties2)) {
        aComp += ` ${key}="${value}" `;
      }
      return `<td id="editable-image-${index}" align="center" style="${tdStyle}"><span ${aComp} ><img id="editable-image-${index}" ${imgStyle}style="display:block"/></span></td>`;
    },
    compileDividerComponent(elem, index) {
      let tdStyle = "";
      for (const [key, value] of Object.entries(elem.styleProperties)) {
        switch (key) {
          case "padding":
            tdStyle += key + this.paddingBuilder(value);
            break;
          case "background-color":
            tdStyle += `${key}:${value};`;
            break;
          default:
            tdStyle += `${key}:${value}px;`;
            break;
        }
      }
      return `<td id="editable-divider-${index}" style="${tdStyle}"></td>`;
    },
    paddingBuilder(value) {
      let padding = ":";
      for (const [key, paddingSide] of Object.entries(value)) {
        padding += paddingSide + "px ";
      }
      padding += ";";
      return padding;
    },
    closeWithoutSave() {
      this.chosenBlock = false;
      this.currentBlock = {};
    },
    moveBlockUp() {
      if (this.currentBlock.id === "0") return;
      const id = +this.currentBlock.id;
      const buff = this.emailTemplate.body[id];
      this.emailTemplate.body[id] = this.emailTemplate.body[id - 1];
      this.emailTemplate.body[id - 1] = buff;
      this.currentBlock.id--;
      this.buildEmail();
    },
    moveBlockDown() {
      if (+this.currentBlock.id === this.emailTemplate.body.length - 1) return;
      const id = +this.currentBlock.id;
      const buff = this.emailTemplate.body[id];
      this.emailTemplate.body[id] = this.emailTemplate.body[id + 1];
      this.emailTemplate.body[id + 1] = buff;
      this.currentBlock.id++;
      this.buildEmail();
    },
    removeBlock() {
      let id = +this.currentBlock.id;
      this.emailTemplate.body.splice(id, 1);
      this.chosenBlock = false;
      this.currentBlock = {};
      this.buildEmail();
    },
    applyChanges(changes) {
      this.emailTemplate.body[+changes.id] = changes.element;
      this.buildEmail();
    },
    changeName(name) {
      this.mailInfo.name = name;
      console.log(this.mailInfo);
    },
    saveEmail() {
      if (this.chosenBlock === true) return;
      const that = this;
      fetch(`${RequestUrl.editor}/save-email/${that.mailInfo._id}`, {
        method: "PUT",
        headers: {
          "Content-Type": "application/json",
          authorization: that.getToken,
        },
        body: JSON.stringify({
          id: that.mailInfo._id,
          name: that.mailInfo.name,
          description: that.mailInfo.description,
          status: that.mailInfo.status,
          emailTemplate: that.mailInfo.emailTemplate,
        }),
      })
        .then((res) => {
          return res.json();
        })
        .then((res) => {
          swal({
            title: "Email Saved",
            text: "All your changes were saved!",
            icon: "success",
            button: "Proceed",
          });
        });
    },
  },
  beforeMount() {
    const that = this;
    fetch(`${RequestUrl.editor}/get-email/${that.$route.params.id}`, {
      method: "GET",
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json",
        authorization: that.getToken,
      },
    })
      .then((res) => {
        return res.json();
      })
      .then((res) => {
        that.mailInfo = res.email;
        that.emailTemplate = res.email.emailTemplate;
        that.buildEmail();
      });
  },
  computed: {
    getToken() {
      return this.$store.getters.getToken;
    },
  },
};
</script>

<style scoped>
.editor {
  width: 100%;
  height: 95%;
  background: #ffffff;
  margin: left;
}
.editor-toolbox {
  background-color: #000000db;
  height: 4%;
}
.editor-main {
  height: 96%;
  display: flex;
}
.editor-main > .editor-component-panel,
.editor-main > .editor-mail-view {
  height: 100%;
}
.editor-component-panel {
  flex-grow: 1;
  background: #c31432ba;
  background: -webkit-linear-gradient(to right, #240b36ba, #c31432ba);
  background: linear-gradient(to right, #240b36ba, #c31432ba);
}
.editor-mail-view {
  flex-grow: 10;
  display: flex;
  justify-content: center;
  align-content: flex-start;
}
.editor-component-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 20px;
}
.editor-component-line {
  height: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
}
.editor-component-line-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
  background-color: rgba(255, 255, 255, 0.118);
  margin: 15px;
  cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.editor-component-line-item:hover {
  background-color: rgba(255, 255, 255, 0.318);
}
.editor-component-line-item > span {
  font-size: 1.2em;
  padding: 5px;
  font-weight: 500;
  font-family: Tahoma, sans-serif;
}
.editor-mail-body {
  width: 700px;
  background: rgb(255, 255, 255);
  max-height: 100%;
  margin: 10px 0;
  border: 1px solid #3b10534f;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(172, 172, 172);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #4b4b4ba3;
  border-radius: 10px;
}

/* div {
    border: 0.5px solid black;
    box-sizing: border-box;
} */
</style>
