<template>
  <div class="home">
    <div class="sendify">Sendify</div>
    <div class="view">
      <div class="header">
        <div><router-link to="/">Home</router-link></div>
        <div>
          <router-link v-show="getToken" to="/library">Library</router-link>
        </div>
        <div>
          <router-link v-show="!getToken" to="/authorization"
            >Sign up / Sign in</router-link
          >
        </div>
        <div>
          <router-link v-show="getToken" to="/recipients"
            >Recipients</router-link
          >
        </div>
        <div>
          <router-link v-show="getToken" to="/mailer">Mailer</router-link>
        </div>
        <div>
          <router-link v-show="getToken" to="/activity">Activity</router-link>
        </div>
        <div><router-link to="/about">About</router-link></div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { mapActions } from "vuex";
import swal from "sweetalert";

export default {
  name: "Home",
  components: {},
  methods: {
    logout() {
      swal({
        title: "Are you sure?",
        text: "",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      }).then((willDelete) => {
        if (willDelete) {
          this.$store.commit("removeToken");
          window.open("/");
        }
      });
    },
  },
  computed: {
    ...mapGetters(["getToken"]),
  },
};
</script>

<style scoped>
.home {
  position: relative;
  height: 94vh;
  background-size: cover;
  background: #141e30;
  background: -webkit-linear-gradient(to right, #243b55, #141e30);
  background: linear-gradient(to right, #243b55, #141e30);
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 18px;
}

.header div {
  display: flex;
  justify-content: stretch;
  align-content: stretch;
  width: 300px;
}

.header div a,
.header div span {
  margin: 4px 16px;
  text-decoration: none;
  cursor: pointer;
  font-family: Helvetica;
  color: #d7f6ff;
  width: 100%;
  box-sizing: border-box;
  font-weight: 700;
  font-style: italic;
  text-shadow: 1px 1px 0px #3b2beb, 2px 2px 0px #8205ff, 3px 3px 0px #46b59b,
    4px 4px 0px #017e7f, 5px 5px 0px #052939;
  padding: 30px 60px;
  font-size: 25px;
  background: #c3376480;
  background: -webkit-linear-gradient(to right, #1d267180, #c3376380);
  background: linear-gradient(to right, #1d267180, #c3376480);
  border: 1px solid rgba(173, 247, 255, 0.509);
}

.header div a:hover,
.header div span:hover {
  background: #7b439780;
  background: -webkit-linear-gradient(to right, #dc243080, #7b439780);
  background: linear-gradient(to right, #dc243080, #7b439780);
}

.header div a.router-link-exact-active {
  background: #00c3ff80;
  background: -webkit-linear-gradient(to right, #ffff1c80, #00c3ff80);
  background: linear-gradient(to right, #ffff1c80, #00c3ff80);
}

.sendify {
  font-size: 5rem;
  text-align: center;
  height: 15vh;
  line-height: 15vh;
  font-style: italic;
  color: #d7f6ff;
  font-weight: 700;
  text-shadow: 1px 1px 0px #3b2beb, 2px 2px 0px #8205ff, 3px 3px 0px #46b59b,
    4px 4px 0px #017e7f, 5px 5px 0px #052939;
  cursor: pointer;
  transition: all 0.5s;
}
</style>