<template>
  <div class="email-library">
    <library-tool @showPopupEmail="showPopupEmail"></library-tool>
    <library-item
      v-bind:emailItem="emailItem"
      v-for="emailItem in emailsData"
      :key="emailItem.id"
      @removeEmail="removeEmail"
    ></library-item>
  </div>
  <div v-show="addNewPopup" class="add-new-email-popup">
    <library-new-popup
      @createNewEmail="createNewEmail"
      @showPopupEmail="showPopupEmail"
    ></library-new-popup>
  </div>
</template>

<script>
import RequestUrl from "@/configStore/API.json";
import LibraryItem from "@/components/library/LibraryItem";
import LibraryTool from "@/components/library/LibraryTool";
import LibraryNewPopup from "@/components/library/LibraryNewPopup";

export default {
  name: "Library",
  components: {
    LibraryItem,
    LibraryTool,
    LibraryNewPopup,
  },
  data() {
    return {
      addNewPopup: false,
      emailsData: [],
    };
  },
  methods: {
    showPopupEmail() {
      this.addNewPopup = !this.addNewPopup;
    },
    createNewEmail(emailData) {
      this.emailsData.unshift(emailData);
      this.showPopupEmail();
    },
    removeEmail(id) {
      const that = this;
      fetch(`${RequestUrl.library}/remove-email/${id}`, {
        method: "DELETE",
        headers: {
          "Content-Type": "application/json",
          authorization: that.getToken,
        },
      })
        .then((res) => {
          return res.json();
        })
        .then((res) => {
          console.log(res);
          this.emailsData = this.emailsData.filter((item) => {
            return item._id !== id;
          });
        });
    },
  },
  computed: {
    getToken() {
      return this.$store.getters.getToken;
    },
  },
  beforeMount() {
    const that = this;
    fetch(`${RequestUrl.library}/get-email-list`, {
      method: "GET",
      headers: {
        "Content-Type": "application/json",
        authorization: that.getToken,
      },
    })
      .then((res) => {
        return res.json();
      })
      .then((res) => {
        that.emailsData = res.result.reverse();
      });
  },
};
</script>

<style scoped>
.email-library {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  box-sizing: border-box;
  height: 93%;
  max-height: 95%;
  padding: 30px;
  background-size: 20%;
  overflow: hidden;
  background: #141e30;
  background: -webkit-linear-gradient(to right, #243b55, #141e30);
  background: linear-gradient(to right, #243b55, #141e30);
}

.add-new-email-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>