<template>
  <div class="mailer-viewer">
    <h1>
      <span class="yellow">Mailer</span>
    </h1>
    <table class="container">
      <thead>
        <tr>
          <th><h1>Name</h1></th>
          <th><h1>Status</h1></th>
          <th><h1>Description</h1></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="email in emailsData" :key="email._id">
          <td>{{ email.name }}</td>
          <td>{{ email.status }}</td>
          <td>{{ email.description }}</td>
          <td @click="sendEmail(email.emailTemplate)" class="action">
            SEND EMAIL
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <send-mail v-if="emailChosen" 
  @showPopup="showPopup"
  v-bind:mailForSending="mailForSending"></send-mail>
</template>

<script>
import RequestUrl from "@/configStore/API.json";
import SendMail from "@/components/SendMail.vue";

export default {
  components: {
    SendMail,
  },
  data() {
    return {
      emailsData: {},
      mailForSending: {},
      emailChosen: false
    };
  },
  methods: {
    sendEmail(mail) {
      this.mailForSending = mail;
      this.emailChosen = !this.emailChosen;
    },
    showPopup() {
      this.mailForSending = {};
      this.emailChosen = !this.emailChosen;
    }
  },
  computed: {
    getToken() {
      return this.$store.getters.getToken;
    },
  },
  beforeMount() {
    const that = this;
    fetch(`${RequestUrl.library}/get-email-list`, {
      method: "GET",
      headers: {
        "Content-Type": "application/json",
        authorization: that.getToken,
      },
    })
      .then((res) => {
        return res.json();
      })
      .then((res) => {
        that.emailsData = res.result.reverse();
      });
  },
};
</script>

<style scoped>
.mailer-viewer {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  height: 94%;
  color: #a7a1ae;
  background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  overflow-y: auto;
}

h1 {
  font-size: 3em;
  font-weight: 300;
  line-height: 1em;
  text-align: center;
  color: #4dc3fa;
  margin: 0;
  padding: 20px;
  cursor: default;
}

h2 {
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  display: block;
  line-height: 1em;
  padding-bottom: 2em;
  color: #fb667a;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #fb667a;
  text-decoration: none;
}

.blue {
  color: #185875;
}
.yellow {
  color: #fff842;
}

.container th h1 {
  font-weight: bold;
  font-size: 1em;
  text-align: left;
  color: #185875;
}

.container td {
  font-weight: normal;
  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0e1119;
  -moz-box-shadow: 0 2px 2px -2px #0e1119;
  box-shadow: 0 2px 2px -2px #0e1119;
}

.container {
  text-align: left;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

.container td,
.container th {
  padding-bottom: 2%;
  padding-top: 2%;
  padding-left: 2%;
  cursor: default;
}

.container tr:nth-child(odd) {
  background-color: #323c50;
}

.container tr:nth-child(even) {
  background-color: #2c3446;
}

.container th {
  background-color: #f2ff00b6;
}

.container td:first-child {
  color: #fb667a;
}

.container tr:hover {
  background-color: #464a52;
  -webkit-box-shadow: 0 6px 6px -6px #0e1119;
  -moz-box-shadow: 0 6px 6px -6px #0e1119;
  box-shadow: 0 6px 6px -6px #0e1119;
}

.container td.action {
  background-color: #005285;
}

.container td.action:hover {
  background-color: #fff842;
  color: #403e10;
  cursor: pointer;
}

@media (max-width: 800px) {
  .container td:nth-child(4),
  .container th:nth-child(4) {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(172, 172, 172);
  border-radius: 50px;
}
::-webkit-scrollbar-thumb {
  background: #4b4b4ba3;
  border-radius: 50px;
}
</style>