<template>
  <div class="recipient-library">
    <recipient-tool @click="showPopupRecipient"></recipient-tool>
    <div class="container">
      <table>
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Solutation</th>
            <th>Title</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <recipient-item
            v-for="recipient in recipientsData"
            :key="recipient._id"
            @removeRecipient="removeRecipient"
            v-bind:recipient="recipient"
          ></recipient-item>
        </tbody>
      </table>
    </div>
  </div>
  <div v-show="addNewPopup" class="add-new-email-popup">
    <recipient-new-popup
      @createNewRecipient="createNewRecipient"
      @showPopupRecipient="showPopupRecipient"
    ></recipient-new-popup>
  </div>
</template>

<script>
import RequestUrl from "@/configStore/API.json";
import RecipientTool from "@/components/recipient/RecipientTool";
import RecipientNewPopup from "@/components/recipient/RecipientNewPopup";
import RecipientItem from "@/components/recipient/RecipientItem";

export default {
  name: "Recipient",
  components: {
    RecipientTool,
    RecipientNewPopup,
    RecipientItem,
  },
  data() {
    return {
      addNewPopup: false,
      recipientsData: [],
    };
  },
  methods: {
    showPopupRecipient() {
      this.addNewPopup = !this.addNewPopup;
    },
    removeRecipient(id) {
      this.recipientsData = this.recipientsData.filter((elem) => {
        return elem._id !== id;
      });
      const that = this;
      fetch(`${RequestUrl.recipient}/remove-recipient/${id}`, {
        method: "DELETE",
        headers: {
          "Content-Type": "application/json",
          authorization: that.getToken,
        },
      })
        .then((res) => {
          return res.json();
        })
        .then((res) => {
          console.log(res);
        });
    },
    createNewRecipient(recipient) {
      this.recipientsData.unshift(recipient.post.results);
      this.showPopupRecipient();
    },
  },
  computed: {
    getToken() {
      return this.$store.getters.getToken;
    },
  },
  beforeMount() {
    const that = this;
    fetch(`${RequestUrl.recipient}/get-recipients`, {
      method: "GET",
      headers: {
        "Content-Type": "application/json",
        authorization: that.getToken,
      },
    })
      .then((res) => {
        return res.json();
      })
      .then((res) => {
        that.recipientsData = res.result.reverse();
      });
  },
};
</script>

<style scoped>
.recipient-library {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  box-sizing: border-box;
  background: #141e30;
  background: -webkit-linear-gradient(to right, #243b55, #141e30);
  background: linear-gradient(to right, #243b55, #141e30);
  height: 93%;
  max-height: 95%;
  padding: 60px 30px 0 30px;
  overflow-y: auto;
  font-family: sans-serif;
  font-weight: 100;
}

::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(172, 172, 172);
}
::-webkit-scrollbar-thumb {
  background: #4b4b4ba3;
}

.add-new-email-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 80vw;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  box-sizing: border-box;
  border: 1px dashed rgba(0, 0, 0, 0.3);
}
th {
  text-align: left;
}

tbody {
  background-color: rgba(255, 255, 255, 0.2);
  overflow-y: auto;
}

thead {
  background: linear-gradient(45deg, #49a09d, #5f2c82);
}

tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
tbody td {
  position: relative;
}
tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}

.recipient-library-table {
  width: 95vw;
  height: 85vh;
  background: rgba(72, 72, 72, 0.818);
}
</style>