<template>
  <div class="email-viewer">
    <div class="email-viewer-wrapper" v-html="htmlContent"></div>
    <div class="edit-mode-action">
      <router-link :to="{ name: 'Editor', params: { id: this.$route.params.id }}"
        ><input type="button" value="Edit mode" /></router-link
      >
    </div>
  </div>
</template>

<script>
import RequestUrl from "@/configStore/API.json";

export default {
  name: "Viewer",
  data() {
    return {
      htmlContent: "",
    };
  },
  beforeMount() {
    const that = this;
    fetch(`${RequestUrl.editor}/view-email/${that.$route.params.id}`, {
      method: "GET",
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json",
        authorization: that.getToken,
      },
    })
      .then((res) => {
        return res.json();
      })
      .then((res) => {
        that.emailTemplate = res.email.emailTemplate;
        that.buildEmail();
      });
  },
  computed: {
    getToken() {
      return this.$store.getters.getToken;
    },
  },
  methods: {
    buildEmail() {
      this.htmlContent = this.emailTemplate.header;
      this.emailTemplate.body.forEach((element, index) => {
        switch (element.component) {
          case "text":
            this.htmlContent += `<tr>${this.compileTextComponent(
              element,
              index
            )}</tr>`;
            break;
          case "image":
            this.htmlContent += `<tr>${this.compileImageComponent(
              element,
              index
            )}</tr>`;
            break;
          case "button":
            this.htmlContent += `<tr>${this.compileButtonComponent(
              element,
              index
            )}</tr>`;
            break;
          case "link":
            this.htmlContent += `<tr>${this.compileLinkComponent(
              element,
              index
            )}</tr>`;
            break;
          case "video":
            this.htmlContent += `<tr>${this.compileVideoComponent(
              element,
              index
            )}</tr>`;
            break;
          case "divider":
            this.htmlContent += `<tr>${this.compileDividerComponent(
              element,
              index
            )}</tr>`;
            break;
          default:
            break;
        }
      });
      this.htmlContent += this.emailTemplate.footer;
    },
    compileTextComponent(elem, index) {
      let tdStyle = "";
      for (const [key, value] of Object.entries(elem.styleProperties)) {
        switch (key) {
          case "padding":
            tdStyle += key + this.paddingBuilder(value);
            break;
          case "color":
            tdStyle += `${key}:${value};`;
            break;
          case "font-family":
            tdStyle += `${key}:${value};`;
            break;
          case "background-color":
            tdStyle += `${key}:${value};`;
            break;
          case "font-style":
            tdStyle += `${key}:${value};`;
            break;
          case "text-align":
            tdStyle += `${key}:${value};`;
            break;
          case "font-weight":
            tdStyle += `${key}:${value};`;
            break;
          case "text-decoration":
            tdStyle += `${key}:${value};`;
            break;
          default:
            tdStyle += `${key}:${value}px;`;
            break;
        }
      }
      return `<td id="editable-text-${index}" style="${tdStyle}">${elem.text}</td>`;
    },
    compileImageComponent(elem, index) {
      let tdStyle = "";
      let imgStyle = "";
      for (const [key, value] of Object.entries(elem.styleProperties)) {
        switch (key) {
          case "padding":
            tdStyle += key + this.paddingBuilder(value);
            break;
          case "background-color":
            tdStyle += `${key}:${value};`;
            break;
          default:
            tdStyle += `${key}:${value}px;`;
            break;
        }
      }
      for (const [key, value] of Object.entries(elem.elementsProperties)) {
        imgStyle += ` ${key}="${value}" `;
      }
      return `<td id="editable-image-${index}" align="center" style="${tdStyle}"><img id="editable-image-${index}" ${imgStyle}style="display:block"/></td>`;
    },
    compileButtonComponent(elem, index) {
      let aStyle = "";
      let aComp = "";
      let tdStyle = "";
      let tdComp = "";
      let tdPadd = "";
      for (const [key, value] of Object.entries(elem.styleProperties2)) {
        switch (key) {
          case "padding":
            tdStyle += key + this.paddingBuilder(value);
            break;
          case "background-color":
            tdStyle += `${key}:${value};`;
            break;
          default:
            tdStyle += `${key}:${value}px;`;
            break;
        }
      }
      for (const [key, value] of Object.entries(elem.outerProperties)) {
        tdComp += ` ${key}="${value}" `;
      }
      for (const [key, value] of Object.entries(elem.styleProperties)) {
        switch (key) {
          case "color":
            aStyle += `${key}:${value} !important;`;
            break;
          case "font-family":
            aStyle += `${key}:${value};`;
            break;
          case "font-style":
            aStyle += `${key}:${value};`;
            break;
          case "text-align":
            aStyle += `${key}:${value};`;
            break;
          case "font-weight":
            aStyle += `${key}:${value};`;
            break;
          case "text-decoration":
            aStyle += `${key}:${value};`;
            break;
          default:
            aStyle += `${key}:${value}px;`;
            break;
        }
      }
      for (const [key, value] of Object.entries(elem.elementsProperties)) {
        aComp += ` ${key}="${value}" `;
      }
      for (const [key, value] of Object.entries(elem.outerProperties2)) {
        switch (key) {
          case "padding":
            tdPadd += key + this.paddingBuilder(value);
            break;
          default:
            tdPadd += `${key}:${value}px;`;
            break;
        }
      }
      return `<td id="editable-button-${index}" ${tdComp} style="${tdPadd}"><table border="0" id="editable-button-${index}" cellpadding="0" cellspacing="0"><tr><td id="editable-button-${index}" style="${tdStyle}"><a id="editable-button-${index}" style="${aStyle}" ${aComp}>${elem.text}</a></td></tr></table></td>`;
    },
    compileLinkComponent(elem, index) {
      let tdStyle = "";
      let aComp = "";
      for (const [key, value] of Object.entries(elem.styleProperties)) {
        switch (key) {
          case "padding":
            tdStyle += key + this.paddingBuilder(value);
            break;
          case "color":
            tdStyle += `${key}:${value};`;
            break;
          case "font-family":
            tdStyle += `${key}:${value};`;
            break;
          case "background-color":
            tdStyle += `${key}:${value};`;
            break;
          case "font-style":
            tdStyle += `${key}:${value};`;
            break;
          case "text-align":
            tdStyle += `${key}:${value};`;
            break;
          case "font-weight":
            tdStyle += `${key}:${value};`;
            break;
          case "text-decoration":
            tdStyle += `${key}:${value};`;
            break;
          default:
            tdStyle += `${key}:${value}px;`;
            break;
        }
      }
      for (const [key, value] of Object.entries(elem.elementsProperties)) {
        aComp += ` ${key}="${value}" `;
      }
      return `<td id="editable-link-${index}" style="${tdStyle}"><a id="editable-link-${index}" ${aComp} style="color:${elem.styleProperties.color};text-decoration:${elem.styleProperties["text-decoration"]};">${elem.text}</a></td>`;
    },
    compileVideoComponent(elem, index) {
      let tdStyle = "";
      let imgStyle = "";
      let aComp = "";
      for (const [key, value] of Object.entries(elem.styleProperties)) {
        switch (key) {
          case "padding":
            tdStyle += key + this.paddingBuilder(value);
            break;
          case "background-color":
            tdStyle += `${key}:${value};`;
            break;
          default:
            tdStyle += `${key}:${value}px;`;
            break;
        }
      }
      for (const [key, value] of Object.entries(elem.elementsProperties)) {
        imgStyle += ` ${key}="${value}" `;
      }
      for (const [key, value] of Object.entries(elem.elementsProperties2)) {
        aComp += ` ${key}="${value}" `;
      }
      return `<td id="editable-image-${index}" align="center" style="${tdStyle}"><a ${aComp} ><img id="editable-image-${index}" ${imgStyle}style="display:block"/></a></td>`;
    },
    compileDividerComponent(elem, index) {
      let tdStyle = "";
      for (const [key, value] of Object.entries(elem.styleProperties)) {
        switch (key) {
          case "padding":
            tdStyle += key + this.paddingBuilder(value);
            break;
          case "background-color":
            tdStyle += `${key}:${value};`;
            break;
          default:
            tdStyle += `${key}:${value}px;`;
            break;
        }
      }
      return `<td id="editable-divider-${index}" style="${tdStyle}"></td>`;
    },
    paddingBuilder(value) {
      let padding = ":";
      for (const [key, paddingSide] of Object.entries(value)) {
        padding += paddingSide + "px ";
      }
      padding += ";";
      return padding;
    },
  },
};
</script>

<style scoped>
.email-viewer {
  height: 94%;
  width: 100%;
  box-sizing: border-box;
  background: #ffffff;
  display: flex;
  justify-content: center;
  overflow-y: auto;
  padding: 15px;
}

.email-viewer-wrapper {
  height: 100%;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.edit-mode-action {
  position: absolute;
  left: 15px;
  top: -3px;
}

input[type="button"] {
  display: block;
  padding: 8px;
  color: #fff;
  background: #c31432;
  background: -webkit-linear-gradient(to right, #240b36, #c31432);
  background: linear-gradient(to right, #240b36, #c31432);
  width: 120px;
  border-radius: 15px;
  font-size: 17px;
  border: none;
  box-sizing: border-box;
  margin: 5px auto;
  transition: all 0.1s;
}

.edit-mode-action a {
  display: block !important;
  text-decoration: none !important;
  color: #fff;
}

input[type="button"]:hover {
  opacity: 1;
  cursor: pointer;
  transform: scale(1.1);
}

input[type="button"]:active {
  outline: none;
  border: none;
  background: black;
}

input[type="button"]:focus {
  outline: none;
  border: none;
}

::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(172, 172, 172);
}
::-webkit-scrollbar-thumb {
  background: #4b4b4ba3;
}
</style>

