<template>
  <div class="editor-tool">
    <div class="button input" @click="changeName">
      <input type="text" @input="changeName" :value="emailData.name" />
    </div>
    <div class="button">
      <router-link :to="{ name: 'Viewer', params: { id: emailData._id } }"
        ><span>View mode</span></router-link
      >
    </div>
    <div class="button" @click="saveChanges"><span>Save changes</span></div>
    <div class="button" @click="sendEmail"><span>Send email</span></div>
  </div>
</template>

<script>
import RequestUrl from "@/configStore/API.json";
import swal from "sweetalert";

export default {
  name: "EditorTool",
  props: ["email-data"],
  emit: ["save-email", "change-name"],
  data() {
    return {};
  },
  methods: {
    saveChanges() {
      this.$emit("save-email");
    },
    changeName(e) {
      this.$emit("change-name", e.target.value);
    },
    sendEmail() {
      const that = this;
      swal({
        title: "Email was sent!",
        text:
          "Please kindly note that testing email are sended to email related to your account. To pick email address for sending kindly go to the Mailer tab!",
        icon: "success",
        button: "Got it!",
      });
      fetch(`${RequestUrl.mailer}/send-test-email/${that.emailData._id}`, {
        method: "POST",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json",
          authorization: that.getToken,
        },
        body: JSON.stringify({
          email: that.emailData,
        }),
      })
        .then((res) => {
          return res.json();
        })
        .then((res) => {
          console.log(res);
        });
    },
  },
  computed: {
    getToken() {
      return this.$store.getters.getToken;
    },
  },
};
</script>

<style scoped>
.editor-tool {
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #ad5389;
  background: -webkit-linear-gradient(to right, #3c1053, #ad5389);
  background: linear-gradient(to right, #3c1053, #ad5389);
}

.editor-tool .button {
  padding: 4px 12px;
  margin: 0 5px;
  font-size: 18px;
  box-sizing: border-box;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.3);
}

.editor-tool .button a {
  display: block !important;
  text-decoration: none;
  color: #fff;
}

.editor-tool .button:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.6);
}

.editor-tool .button.input {
  border: 1px solid #000;
  justify-self: flex-start;
}

.button input {
  color: #fff;
  background: none;
  border: none;
}

.button input:focus,
.button input:active {
  border: none;
  outline: none;
}
</style>