<template>
  <div class="header">
    <router-link to="/">Home</router-link>
    <router-link v-show="getToken" to="/library">Library</router-link>
    <router-link v-show="!getToken" to="/authorization"
      >Sign up / Sign in</router-link
    >
    <router-link v-show="getToken" to="/recipients">Recipients</router-link>
    <router-link v-show="getToken" to="/mailer">Mailer</router-link>
    <router-link v-show="getToken" to="/activity">Activity</router-link>
    <router-link to="/about">About</router-link>
    <span @click.prevent="logout" v-show="getToken">Logout</span>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import swal from "sweetalert";

export default {
  name: "Header",
  components: {},
  methods: {
    logout() {
      swal({
        title: "Are you sure?",
        text: "",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      }).then((willDelete) => {
        if (willDelete) {
          this.$store.commit("removeToken");
          window.open("/");
        }
      });
    },
  },
  computed: {
    ...mapGetters(["getToken"]),
  },
};
</script>

<style lang="css" scoped>
.header {
  background-color: rgba(0, 0, 0, 0.671);
  display: flex;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 18px;
}
.header > a,
.header > span {
  margin: 2px 8px;
  text-decoration: none;
  cursor: pointer;
}
</style>