<template>
  <div class="send-mail-block">
    <button @click="startSending" class="learn-more">Send Emails</button>
    <button @click="cancelSending" class="learn-more cancel">Cancel</button>
    <div class="learn-more subject">
      <label for="subject">Subject</label
      ><input id="subject" name="subject" @input="updateSubject" />
    </div>
    <div class="send-mail-block-wrapper">
      <h2>Pick Recipients</h2>
      <div v-for="recipient in pickedRecipients" :key="recipient._id">
        <span>{{ recipient.firstName }}</span>
        <span>{{ recipient.lastName }}</span>
        <span>{{ recipient.email }}</span>
        <span
          ><img
            @click="excludeFromList(recipient._id)"
            src="./minus.png"
            alt=""
        /></span>
      </div>
    </div>
    <div class="send-mail-block-wrapper">
      <div v-for="recipient in notAddedRecipients" :key="recipient._id">
        <span>{{ recipient.firstName }}</span>
        <span>{{ recipient.lastName }}</span>
        <span>{{ recipient.email }}</span>
        <span
          ><img @click="addToList(recipient._id)" src="./plus--v2.png" alt=""
        /></span>
      </div>
    </div>
  </div>
</template>

<script>
import RequestUrl from "@/configStore/API.json";
import swal from "sweetalert";

export default {
  name: "SendMail",
  props: ["mail-for-sending"],
  emit: ["show-popup"],
  data() {
    return {
      recipientsData: [],
      notAddedRecipients: [],
      pickedRecipients: [],
      subject: "",
      mailBody: this.mailForSending,
    };
  },
  methods: {
    updateSubject(e) {
      this.subject = e.target.value
    },
    excludeFromList(id) {
      this.notAddedRecipients.push(
        this.pickedRecipients.find((elem) => {
          return elem._id == id;
        })
      );
      this.pickedRecipients = this.pickedRecipients.filter((elem) => {
        return elem._id !== id;
      });
    },
    addToList(id) {
      this.pickedRecipients.push(
        this.notAddedRecipients.find((elem) => {
          return elem._id == id;
        })
      );
      this.notAddedRecipients = this.notAddedRecipients.filter((elem) => {
        return elem._id !== id;
      });
    },
    cancelSending() {
      this.$emit("show-popup");
    },
    startSending() {
      const that = this;
      if (that.pickedRecipients.length < 1) {
        swal(
          "Be carefull!",
          "You need to select at least one recipient to start the sending process!",
          "warning"
        );
        return;
      }
      if (that.subject.length < 15) {
        swal(
          "Be carefull!",
          "You need to enter a proper subject which has more than 15 symbols and contain main email information!",
          "warning"
        );
        return;
      }

      fetch(`${RequestUrl.mailer}/mass-sending`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          authorization: that.getToken,
        },
        body: JSON.stringify({
          recipients: that.pickedRecipients,
          email: that.mailBody,
          subject: that.subject
        }),
      });
      swal({
        title: "Good job!",
        text: "Emails were sent!",
        icon: "success",
        button: "Aww yiss!",
      });
      setTimeout(function () {
        that.$emit("show-popup");
      }, 2000);
    },
  },
  computed: {
    getToken() {
      return this.$store.getters.getToken;
    },
  },
  beforeMount() {
    const that = this;
    fetch(`${RequestUrl.recipient}/get-recipients`, {
      method: "GET",
      headers: {
        "Content-Type": "application/json",
        authorization: that.getToken,
      },
    })
      .then((res) => {
        return res.json();
      })
      .then((res) => {
        that.recipientsData = res.result.reverse();
        that.notAddedRecipients = res.result.reverse();
      });
  },
};
</script>

<style scoped>
.send-mail-block {
  position: absolute;
  top: 4vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 3;
  height: 96vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  margin: 5px;
  text-align: center;
}

img {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.send-mail-block-wrapper {
  flex: 1;
  background: #00b4db;
  background: -webkit-linear-gradient(to right, #0083b0, #00b4db);
  background: linear-gradient(to right, #0083b0, #00b4db);
  border: 1px solid black;
  border-radius: 5px;
  width: 60%;
  padding: 10px;
  margin: 20px;
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  text-align: left;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.send-mail-block-wrapper div {
  box-sizing: border-box;
  display: flex;
}

.send-mail-block-wrapper div span {
  border: 1px solid rgb(255, 255, 255);
  padding: 10px 5px;
  width: 250px;
  display: flex;
  align-items: center;
}

.send-mail-block-wrapper div span:nth-child(4) {
  padding: 0;
}

::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(172, 172, 172);
}
::-webkit-scrollbar-thumb {
  background: #4b4b4ba3;
}

button,
.subject {
  position: absolute;
  right: 4vw;
  width: 150px;
  top: 2vh;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
}

div.subject {
  top: 18vh;
  right: 3vw;
  width: 177px;
  text-align: center;
  color: #fff;
  font-size: 25px;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
}

div.subject input {
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  padding: 3px 4px;
  border: 0;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
}

div.subject input:active,
div.subject input:focus,
div.subject input:hover {
  outline: none;
  border: 1px solid rgb(0, 238, 255);
  cursor: pointer;
}

button.cancel {
  top: 10vh;
}

button.learn-more {
  font-weight: 600;
  color: #382b22;
  text-transform: uppercase;
  padding: 0.5em 1em;
  background: #00b4db;
  border: 2px solid #00356d;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    background 150ms cubic-bezier(0, 0, 0.58, 1);
}
button.learn-more::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #6ad2ff;
  border-radius: inherit;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
button.learn-more:hover {
  background: #ffe9e9;
  transform: translate(0, 0.25em);
}
button.learn-more:hover::before {
  transform: translate3d(0, 0.5em, -1em);
}
button.learn-more:active {
  background: #ffe9e9;
  transform: translate(0em, 0.75em);
}
button.learn-more:active::before {
  box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  transform: translate3d(0, 0, -1em);
}
</style>