<template>
  <div id="nav">
    <Header />
  </div>
  <router-view/>
</template>

<style>
html, body {
  margin: 0;
  height: 100%;
}


#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #ffffff;
  background-color: #000000db;
  height: 100%;
}

#nav a {

  color: #ffffff;
}

#nav a:hover {

  color: #bf92ff;
}

#nav a.router-link-exact-active {
  color: #5effb1;
}
</style>
<script>
import Header from '@/components/Header.vue'

export default {
  name: 'Main',
  components: {
    Header
  }
}
</script>
